body{
    background-image: url("1.jpg");
    background-size:     cover;         
    background-repeat:   no-repeat;

}
h1 {
    color: rgb(255, 0, 51);
    font-style: italic;
}

p {
    color: aliceblue;
}